# .NET
**/bin/
**/obj/
**/*.user
**/appsettings.Production.json
**/.vs/

# Node / Next.js
**/node_modules/
**/.next/
**/out/
**/.env
**/.env.local
**/.env.production

# Docker
**/.dockerignore

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json
.idea/